@charset "UTF-8";
*{
    margin: 0px;
}
body{
    background-color: aqua;
}
header{
    background-color: black;
    padding-top: 90px;
    color: white;
    text-align: center;
}

nav{
    background-color: gray;
    text-align: left;
    padding: 10px 10px 10px 15px;
}
.conteiner{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    margin: auto;
    background-color: blue;
    width: 70%;
}